body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.menu {
    max-width: 1170px;
    margin: 5rem auto;
    padding: 0 2rem;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.title h2 {
    font-size: 2rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.underline {
    width: 6rem;
    height: 0.25rem;
    background: #c59d5f;
    margin: 0.5rem auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.filter-btn {
    background: transparent;
    border-color: transparent;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 0.1rem;
    color: #c59d5f;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    transition: all 0.3s linear;
}

.filter-btn:hover {
    background: #c59d5f;
    color: #fff;
}

.section-center {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu-item {
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    display: grid;
    grid-template-rows: auto 1fr;
    box-shadow: 15px 15px 15px rgba(8, 8, 8, 0.1);
}

.photo {
    width: 100%;
    display: block;
    object-fit: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    height: 200px;
}

.item-info {
    padding: 1rem 0;
}

.item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.item-info h4 {
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.price {
    color: #c59d5f;
}

.item-text {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #617d98;
}

@media screen and (max-width: 768px) {
    .section-center {
        grid-template-columns: 1fr;
    }
}